<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deservel.website.dao.ContentsMapper">
    <resultMap id="BaseResultMap" type="com.deservel.website.model.po.Contents">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="cid" jdbcType="INTEGER" property="cid"/>
        <result column="title" jdbcType="VARCHAR" property="title"/>
        <result column="slug" jdbcType="VARCHAR" property="slug"/>
        <result column="created" jdbcType="INTEGER" property="created"/>
        <result column="modified" jdbcType="INTEGER" property="modified"/>
        <result column="author_id" jdbcType="INTEGER" property="authorId"/>
        <result column="type" jdbcType="VARCHAR" property="type"/>
        <result column="status" jdbcType="VARCHAR" property="status"/>
        <result column="tags" jdbcType="VARCHAR" property="tags"/>
        <result column="categories" jdbcType="VARCHAR" property="categories"/>
        <result column="hits" jdbcType="INTEGER" property="hits"/>
        <result column="comments_num" jdbcType="INTEGER" property="commentsNum"/>
        <result column="allow_comment" jdbcType="BIT" property="allowComment"/>
        <result column="allow_ping" jdbcType="BIT" property="allowPing"/>
        <result column="allow_feed" jdbcType="BIT" property="allowFeed"/>
        <result column="content" jdbcType="LONGVARCHAR" property="content"/>
    </resultMap>

    <resultMap id="ArchiveDto" type="com.deservel.website.model.dto.ArchiveDto">
        <id column="date_str" jdbcType="VARCHAR" property="dateStr"/>
        <result column="count" jdbcType="VARCHAR" property="count"/>
    </resultMap>

    <select id="countContentsByTypeAndStatus" resultType="java.lang.Long">
      select count(*) from contents where type=#{type} and status=#{status}
    </select>

    <update id="updateReadTimes" parameterType="java.lang.Integer">
        update contents
        <set>
            hits = hits + 1
        </set>
        where cid = #{cid,jdbcType=INTEGER}
    </update>

    <update id="updateCommentTimes" parameterType="java.lang.Integer">
        update contents
        <set>
            comments_num = comments_num + 1
        </set>
        where cid = #{cid,jdbcType=INTEGER}
    </update>

    <select id="getArchives" resultMap="ArchiveDto">
        select DATE_FORMAT(from_unixtime(created), '%Y年%m月') as date_str, count(*) as count
        from contents
        where type = 'post'
          and status = 'publish'
        group by date_str
        order by date_str desc
    </select>
</mapper>
