<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.deservel.website.dao.MetasMapper">
  <resultMap id="BaseResultMap" type="com.deservel.website.model.po.Metas">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="mid" jdbcType="INTEGER" property="mid" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="slug" jdbcType="VARCHAR" property="slug" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
    <result column="parent" jdbcType="INTEGER" property="parent" />
  </resultMap>

  <resultMap id="MetaDto" type="com.deservel.website.model.dto.MetaDto" extends="BaseResultMap">
    <result column="count" property="count" jdbcType="INTEGER"/>
  </resultMap>

  <select id="selectByType" resultMap="BaseResultMap">
      select * from metas where type = #{type} ORDER BY sort desc, mid desc;
  </select>

  <select id="selectByTypeAndName" resultMap="BaseResultMap">
    select * from metas where type = #{type} and name = #{name} limit 1;
  </select>

  <select id="selectMetaWhitContentList" resultMap="MetaDto">
    select a.*, count(b.cid) as count from metas a left join relationships b on a.mid = b.mid where a.type = #{type} group by a.mid order by count desc, a.mid desc limit #{maxPosts}
  </select>
</mapper>
